/*CSS Variabiles*/
$color-primary: #5045FF;
$color-secondary: #948DFF;
$color-white: #fff;
$color-black: #000;
$color-gray: #A1A1A6;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

/* Main HTML tempelates */
body {
    height: 8000px;
    background-color: $color-white;
}

img {
    border-radius: 15px;
}

/* Layput align classes */
.layout-center {
    align-self: center;
}

/* Main text align classes */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Buttons */
.btn-secondary {
    background-color: transparent !important;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;

    &--black {
        color: $color-black !important;
    }

    &--white {
        color: $color-white;
    }
}

/* Headings */
.heading-main {
    font-size: 70px;
    font-weight: bold;

    &--white {
        color: $color-white;
    }

    &--black {
        color: $color-black;
    }
}

.heading-secondary {
    color: $color-gray;
    font-size: 60px;
    font-weight: bold;
}

/* Navigation */
#main-nav {
    background-color: $color-primary;

    #main-menu {

        li {
            padding-left: 20px;
            padding-right: 20px;

            a {
                color: $color-white;
            }

            &.current-menu-item {
                a {
                    color: $color-secondary;
                }
            }

            &:last-child {
                @media (max-width: $lg) {
                    border: none;
                    border-radius: 0px;
                }

                border: 2px solid $color-white;
                border-radius: 150px;

                &:hover {
                    @media (max-width: $lg) {
                        background-color: $color-primary;
                    }

                    background-color: $color-white;

                    a {
                        @media (max-width: $lg) {
                            color: $color-white;
                        }

                        color: $color-secondary;
                    }

                }
            }

        }
    }
}



/* HOME page styling */
/* .hero-section page styling */
.hero-section {
    background-color: $color-primary;
    height: 2000px;

    .content-holder {
        padding-top: 100px;
        height: 1900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .paragraph-main {
            color: $color-secondary;
            font-size: 30px;
            font-weight: bold;
            line-height: 30px;
        }
    }
}

.section-work {

    .info-card-work {
        img {
            width: 100%;
            height: 670px;

        }

        .paragraph-card {
            color: $color-black;
            font-size: 20px;
            font-weight: bold;
        }
    }
}