/*CSS Variabiles*/
$color-primary: #5045FF;
$color-secondary: #948DFF;
$color-white: #fff;
$color-black: #000;
$color-gray: #A1A1A6;
$color-cool-gray: #F2F3F9;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// Mixins
@mixin flex-layout($display, $direction, $justify) {}

// Example: Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

/* Main HTML tempelates */
body {
    height: 100%;
    background-color: $color-white;
}

img {
    border-radius: 15px;
}

footer {
    padding-top: 100px;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-row {
    background-color: $color-primary;
    height: 100px;
    width: 100%;
    align-self: flex-end;
}

/* Layput align classes */
.layout-center {
    margin: 0 auto;
}

.bottom-margin {
    margin-bottom: 40px;
}

/* Main text align classes */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Buttons */

.btn-main {
    border-radius: 100px;
    border: solid 2px;
    font-size: 20px;
    font-weight: bold;
    background-color: $color-primary;
    color: white;
    width: 220px;
    height: 70px;

}

.btn-secondary {
    background-color: transparent !important;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;

    &--black {
        color: $color-black !important;
    }

    &--white {
        color: $color-white;
    }
}

/* Headings */
.heading-main {
    font-size: 70px;
    font-weight: bold;

    &--white {
        color: $color-white;
    }

    &--black {
        color: $color-black;
    }
}

.heading-secondary {
    color: $color-gray;
    font-size: 50px;
    font-weight: bold;

    &--grey {
        color: $color-gray;

    }

    &--blue {
        color: $color-secondary;

    }
}

/* info-card*/
.info-card {
    padding: 20px;
    transition: .2s;

    &--work {
        img {
            height: 630px;

        }
    }

    &--blog {

        img {

            height: 500px;
        }
    }

    img {
        // width: 100%;
        margin-bottom: 10px;
    }

    .paragraph-card {
        color: $color-black;
        font-size: 20px;
        font-weight: medium;
    }

}

/* Navigation */
#main-nav {
    background-color: $color-primary;

    #main-menu {

        li {
            padding-left: 20px;
            padding-right: 20px;

            a {
                color: $color-white;
            }

            &.current-menu-item {
                a {
                    color: $color-secondary;
                }
            }

            &:last-child {
                @media (max-width: $lg) {
                    border: none;
                    border-radius: 0px;
                }

                border: 2px solid $color-white;
                border-radius: 150px;

                &:hover {
                    @media (max-width: $lg) {
                        background-color: $color-primary;
                    }

                    background-color: $color-white;

                    a {
                        @media (max-width: $lg) {
                            color: $color-white;
                        }

                        color: $color-secondary;
                    }

                }
            }

        }
    }
}

/* HOME page styling */
/* .hero-section page styling */
.hero-section {
    background-color: $color-primary;
    height: 2000px;

    .content-holder {
        padding-top: 100px;
        height: 1900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .logo-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .paragraph-main {
            color: $color-secondary;
            font-size: 30px;
            font-weight: bold;
            line-height: 30px;
        }
    }
}

.section-work {
    padding-top: 100px;
    height: 2100px;
}

.section-blog {
    background-color: $color-cool-gray;
    height: 1200px;
    padding-top: 100px;
}