// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$color-primary: #5045FF;
$color-secondary: #5045FF;
$color-white: #fff;
$color-gray: #F2F3F9;