/*CSS Variabiles*/
$color-primary: #5851FF;
$color-secondary: #FCFBFB;
$color-black: #222211;
$color-white: #FCFBFB;
$color-grey: #A1A1A6;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// Mixins


// Example: Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

/* Main HTML tempelates */
body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: $color-white;
    overflow-y: hidden;

    @media(max-width: $lg) {
        h1 {
            font-size: 50px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }

        button {
            text-align: center;
            margin: 0 auto;
        }

    }
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 40px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    color: $color-black;
}

p {
    font-size: 20px;
    font-weight: 300;
    display: inline inline-block;
    color: $color-grey;
}

/*Buttons*/
.btn-main {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: $color-primary;
    font-size: 20px;
    color: $white;
    border: transparent 2px;
    transition: .2s ease-out;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 8px 11px 0px $color-grey;
    }

    &--color-black {
        background: $color-black;
    }

    &--color-transparent {
        background: none;
        border: solid 2px $color-primary;
        color: $color-primary;
        background: linear-gradient(to left, $color-white 50%, $color-primary 50%) right;
        background-size: 200%;

        &:hover {
            background-position: left;
            color: $color-white;
        }
    }
}

.btn-sub {
    color: $color-primary;
    font-size: 20px;
    text-decoration: none;
    background: none;
    border: none;
    font-weight: 600;
    transition: .2s;

    &:hover {
        transform: scale(1.1);
    }
}

.btn-container {
    @media (max-width: $lg) {
        display: flex;
        justify-content: space-around;
        // width: 400px;
    }
}

/*Layout*/


/*padding bottom*/
.padding-bottom {
    padding-bottom: 50px;
}

.margin-right {
    margin-right: 30px;
}


/* Navigation*/
#main-nav {
    background-color: $color-white;


    #main-menu {

        li {
            padding-left: 20px;
            padding-right: 20px;

            a {
                color: $color-grey;
                font-weight: 400;
                font-size: 16px;
            }

            &.current-menu-item {
                a {
                    color: $color-black;
                    text-decoration: underline;
                    font-weight: 700;
                }
            }

            &:last-child {
                width: 150px;
                height: 45px;
                border-radius: 10px;
                background: $color-black;
                text-align: center;
                font-size: 20px;
                color: $white !important;

                &:hover {
                    @media (max-width: $lg) {
                        background-color: $color-primary;
                    }

                }
            }

        }
    }
}


.navbar-toggler {
    background-color: $color-grey;
    border: none;
}


.section-home {
    display: flex;
    min-height: 90vh;
    min-width: 100vw;

    @media(max-width: $lg) {
        padding-top: 100px;

        img {
            min-height: 80vh;
            min-width: 100vw;
            margin-top: 100px;

        }
    }

    @media(max-width: $sm) {
        img {
            min-height: 40vh;
            min-width: 90vw;
            margin-top: 100px;

        }
    }
}